# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
**/build/

# VS Code
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/Flutter.framework
macos/Flutter/ephemeral/

# Logs
*.log
